[versions]
slf4j = "2.0.7"
junit5 = "5.13.4"
wiremock = "3.13.1"

[libraries]
slf4j-simple = {group = "org.slf4j", name = "slf4j-simple",  version.ref = "slf4j"}
junit-jupiter = {group = "org.junit.jupiter", name = "junit-jupiter-engine", version.ref = "junit5"}
wiremock = {group = "org.wiremock", name = "wiremock", version.ref = "wiremock"}

[plugins]
git-version = {id = "com.palantir.git-version", version = "4.0.0"}
nexus-publish = {id = "io.github.gradle-nexus.publish-plugin", version = "2.0.0"}
spotbugs = {id = "com.github.spotbugs", version = "6.4.8"}
spotless = {id = "com.diffplug.spotless", version = "7.2.1"}
omegat = {id = "org.omegat.gradle", version = "2.0.0-rc2"}
